<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/performance.jpg" alt="Performance Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Performances
                </h1>
                <p>
                    See my performances and competitions from cheerleading and martial arts
                </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/performances">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/performances/wushu">
                Wushu
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/performances/cheerleading">
                Cheerleading
            </a>
        </li>
    </ul>

    <div class="Performances">
        <h2>My Performances</h2>
        <p>Outside of school and academics, I like to think that I'm a physical performing artist. While I used to play violin in both solo and orchestral settings, I'd much rather be physically active doing jumps and tricks than standing in one spot, knees shaking and nerves racing. Thus, I turned to martial arts and cheerleading to get my adrenaline pumping. Feel free to check out my Wushu and Cheerleading performance and competition pictures and videos.</p>
        <div class="Performances-categories">
            <a routerLink="/performances/wushu" class="ImageButton btn btn-outline-primary" role="button">
                Wushu
                <img src="assets/images/wushu.jpg" alt="Wushu Image">
            </a>
            <a routerLink="/performances/cheerleading" class="ImageButton btn btn-outline-primary" role="button">
                Cheerleading
                <img src="assets/images/cheer.jpg" alt="Cheerleading Image">
            </a>
        </div>
    </div>
</div>
