<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.</p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">SGD Games</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2 class="Title">Student Game Developers Games</h2>
		<p>Student Game Developers is a student-run club at UVA where students can pitch ideas for games and lead teams to develop said idea throughout the semester. It brings together programmers, artists, and writers to make every game as fleshed out and complete as possible. I have been a part of this club since my first semester in college and have enjoyed every project I've been a part of and learning how to use the Unity software. Check out these games I've contributed to so far.</p>
        <div class="Projects-projectGroup">
            <img src="assets/images/bardstale.png" class="Projects-projectImage" alt="Bard's Tale Image">
            <h4 class="Projects-projectTitle">A Bard's Tale (Spring 2018 - Spring 2019)</h4>
            <h6>Skills Used: Unity, C#</h6>
            <div class="Projects-projectText">
                <p>I've been a part of this game for three semesters and it's been a different idea each semester.</p>
                <p>The initial idea was a game where you played as a bard travelling the land in search on companions to vanquish evil. However, the twist is that your only controls are the chords that you play. How you play the chords will affect how your companions feel and act in battle. Sequences of chords could make allies attack or flee. I worked on programming the system to judge qualities of music that our team lead came up with, the general UI of the game, and setting up the class structure that the characters and enemies will be based around. The github repository can be found <a href="https://github.com/UVASGD/spring-2018-a-bard-s-tale" target="_blank">here</a>.</p>
                <p>The next semester, the leads must have realized that their initial idea was too big to be created in a single semester, so they changed the idea to have a bard exploring a dungeon using a magical lute to cast spells. The player still controlled the notes that the bard would play, and different sequences of notes would trigger different spells. Again, I chose to work on the mechanics dealing with the music and determining what notes to play at each key-press. The new github repository can be found <a href="https://github.com/UVASGD/fall-2018-bard-s-tale" target="_blank">here</a>.</p>
                <p>For the final semester, I worked primarily on translating some custom animation scripts into the built-in Unity animation controllers. I had never tackled animation before, so this was a great learning experience to work in a different component of Unity. Link to Github repository <a href="https://github.com/UVASGD/spring-2019-bard-s-tale-3" target="_blank">here</a>:</p>
            </div>
        </div>
        <div class="Projects-projectGroup">
            <img src="assets/images/duskpatrol.png" class="Projects-projectImage" alt="Dusk Patrol Image">
			<h4 class="Projects-projectTitle">Dusk Patrol (Fall 2017)</h4>
            <h6>Skills Used: Unity, C#</h6>
            <div class="Projects-projectText">
                <p>Dusk Patrol is a shoot 'em up game where you play as a World War II fighter shooting through hordes of incoming planes as well as a giant blimp at the end. The game introduces a time-travel mechanic where the player can move backward in time and work with their previous self to defeat the waves of enemies. I worked on controls for moving and shooting for the player as well as the attacks for the boss-blimp. The github repository can be found <a href="https://github.com/UVASGD/fall-2017-dusk-patrol" target="_blank">here</a>.</p>
            </div>
        </div>
        <div class="Projects-projectGroup">
            <img src="assets/images/kin.png" class="Projects-projectImage" alt="Kin Image">
			<h4 class="Projects-projectTitle">Kin (Fall 2016 - Spring 2017)</h4>
            <h6>Skills Used: Unity, C#</h6>
            <div class="Projects-projectText">
                <p>Kin is a game where you play as a Spanish Monk exploring a new world vanquishing Mayan- and Aztec-inspired Gods, talking to villagers, and collect resources all within a time limit. I primarily worked on programming the behaviors of the enemies and creating the bosses for the player to fight. More information on about the game can be found <a href="https://defaulttidus.itch.io/kin" target="_blank">here</a>. The github repository can be found <a href="https://github.com/UVASGD/spring-2017-kin" target="_blank">here</a>.</p>
                <p>This was the first game I worked on as part of SGD and spanned my entire first year of college. Through working on this game, I learned a lot about how the Unity framework worked and how a typical game-building team worked. </p>
            </div>
        </div>
	</div>
</div>
