@media(max-width: 768px) {
	.Categories {
        display: flex;
        flex-direction: column;
	
		a {
			margin-bottom: 15px;
		}
	}
}

@media(min-width: 768px) {
	.Categories {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
	}
}