<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
        <h2 class="Title">My Projects</h2>
        <p>I've had a chance to work on many different projects throughout my college career through the Student Game Developers Club (SGD), HackUVA, and in my internships over summers. Feel free to click into the sub-categories below, play some of the games, and learn more about each project.</p>
        <div class="Projects-categories Categories">
            <a routerLink="/projects/sgd" class="ImageButton btn btn-outline-primary" role="button">
                SGD Games
                <img src="assets/images/sgd.png" alt="SGD Image">
            </a>
            <a routerLink="/projects/hoohacks" class="ImageButton btn btn-outline-primary" role="button">
                HackUVA/HooHacks
                <img src="assets/images/hoohacks.png" alt="HooHacks Image">
            </a>
            <a routerLink="/projects/internships" class="ImageButton btn btn-outline-primary" role="button">
                Internships
                <img src="assets/images/internships.png" alt="Internships Image">
            </a>
            <a routerLink="/projects/classes" class="ImageButton btn btn-outline-primary" role="button">
                Classes
                <img src="assets/images/classes.png" alt="UVA CS Image">
            </a>
        </div>
    </div>
</div>
