.Projects {
    &-titleImage {
        width: 10%;
        height: auto;

        margin-right: 8px;
    }

    &-projectGroup {
        margin-bottom: 32px;
    }

    &-projectImage {
        margin-left: 16px;

        width: 15%;
        height: auto;

        float: right;
    }
}

@media(max-width: 768px) {
	.Projects {
        &-titleImage {
            display: none;
        }

        &-projectImage {    
            margin-left: 0;
            margin-bottom: 16px;
            display: inline-block;
            width: 50%;
            height: auto;

            float: none;
        }
    }
}