<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Internships</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2>Internships</h2>
		<p>I've been fortunate enough to have been an intern during every summer so far in college and work on real projects for each employer. While I'm unable to go into specifics for some of these projects, I am able to give some details and talk about what I did.</p>
		<div class="Projects-categories">
			<a routerLink="/projects/internships/yext" class="ImageButton btn btn-outline-primary" role="button">
				Yext
				<img src="assets/images/yext.jpg" alt="Yext Image">
			</a>
			<a routerLink="/projects/internships/dahlgren" class="ImageButton btn btn-outline-primary" role="button">
				Naval Surface Warfare Center
				<img src="assets/images/dahlgren.jpg" alt="NSWCDD Image">
			</a>
		</div>
	</div>
</div>
