<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/projects/sgd">SGD Games</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kin</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2>Kin</h2>
		<p>Kin is a game where you play as a Spanish Monk exploring a new world vanquishing Mayan- and Aztec-inspired Gods, talking to villagers, and collect resources all within a time limit. I primarily worked on programming the behaviors of the enemies and creating the bosses for the player to fight. More information on about the game can be found <a href="https://defaulttidus.itch.io/kin" target="_blank">here</a>. The github repository can be found <a href="https://github.com/UVASGD/spring-2017-kin" target="_blank">here</a>.</p>
		<p>This was the first game I worked on as part of SGD and spanned my entire first year of college. Through working on this game, I learned a lot about how the Unity framework worked and how a typical game-building team worked. </p>
	</div>
</div>
