<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/projects/sgd">SGD Games</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dusk Patrol</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2>Dusk Patrol</h2>
		<p>Dusk Patrol is a shoot 'em up game where you play as a World War II fighter shooting through hordes of incoming planes as well as a giant blimp at the end. I worked on controls for moving and shooting for the player as well as the attacks for the boss-blimp. The github repository can be found <a href="https://github.com/UVASGD/fall-2017-dusk-patrol" target="_blank">here</a>.</p>
	</div>
</div>
