<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">SGD Games</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2 class="Title">Student Game Developers Games</h2>
		<p>Student Game Developers is a student-run club at UVA where students can pitch ideas for games and lead teams to develop said idea throughout the semester. It brings together programmers, artists, and writers to make every game as fleshed out and complete as possible. I have been a part of this club since my first semester in college and have enjoyed every project I've been a part of and learning how to use the Unity software. Check out these games I've contributed to so far.</p>
		<div class="Projects-categories Categories">
			<a routerLink="/projects/sgd/kin" class="ImageButton btn btn-outline-primary" role="button">
				Kin
				<img src="assets/images/kin.png" alt="Kin Image">
			</a>
			<a routerLink="/projects/sgd/duskPatrol" class="ImageButton btn btn-outline-primary" role="button">
				Dusk Patrol
				<img src="assets/images/duskpatrol.png" alt="Dusk Patrol Image">
			</a>
			<a routerLink="/projects/sgd/bardsTale" class="ImageButton btn btn-outline-primary" role="button">
				A Bard's Tale
				<img src="assets/images/bardstale.png" alt="Bard's Tale Image">
			</a>
		</div>
	</div>
</div>
