<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/projects/internships">Internships</a></li>
            <li class="breadcrumb-item active" aria-current="page">NSWCDD</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="NSWCDD">
		<h2>Naval Surface Warfare Center Dahlgren Division</h2>
		<p>For the summer 2017, after my first year, I was a Computer Science Engineer for the Navy at the Naval Surface Warfare Center Dahlgren Division (NSWCDD) in their Software Applications & System Security Engineering Branch. There I worked on a project developing a simulation for a new laser weapon system for the Navy in Unity 3D, which I had experience working in the past year through developing for Kin. Our job was to simulate the system's internal workings as well as provide an environment for which the weapon can be tested. </p>
		<p>I worked a lot on populating the surrounding environment with buildings, walls, and aircraft, programming weapon functionalities and movement, and ensuring our simulation environment matched data passed to it by other systems. I also got a chance to see the weapon up close when they brought it onto the base!
		</p>
	</div>
</div>
