<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/working.jpg" alt="Working Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Projects
                </h1>
                <p>
                    Look at the projects and games I’ve built during school and during internships.               </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/projects">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">HooHacks</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/sgd">
                SGD Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/projects/hoohacks">
                HackUVA/HooHacks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/internships">
                Internships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects/classes">
                Classes
            </a>
        </li>
    </ul>

    <div class="Projects">
		<h2 class="Title">HooHacks (formerly HackUVA)</h2>
		<p>HackUVA is the University of Virginia's annual 24-hour hackathon organized by the student-run HackUVA committee. For those unfamiliar, hackathons are events where participants have a set time, typically 24 or 36 hours, to make something that solves a problem, whether it be an application or even some hardware. Typically hackathons will have themes or challenges for participants to base their projects around. For example, in 2018, HackUVA's themes were Safety, Equality, and Empowerment. </p>
		<p>HackUVA 2017 was the first hackathon that I ever participated in and I've enjoyed working with friends to create something while learning new technologies and languages that they know about. Here are the projects that I've been a part of so far:</p>
		<div class="Projects-categories Categories">
			<a routerLink="/projects/hoohacks/simplisci" class="ImageButton btn btn-outline-primary" role="button">
				Simplisci <br>(winner: Domain Name)
				<img src="assets/images/hoohacks.png" alt="HooHacks Image">
			</a>
			<a routerLink="/projects/hoohacks/faceNormalizer" class="ImageButton btn btn-outline-primary" role="button">
				Face Normalizer <br>(winner: Equality Challenge)
				<img src="assets/images/hoohacks.png" alt="HooHacks Image">
			</a>
			<a routerLink="/projects/hoohacks/cupanoowords" class="ImageButton btn btn-outline-primary" role="button">
				Cup A Noo Words
				<img src="assets/images/hoohacks.png" alt="HooHacks Image">
			</a>
		</div>
	</div>
</div>
