@import url('https://fonts.cdnfonts.com/css/varuna');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
