<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-image">
                <img src="assets/images/welcomeImage.jpg" alt="Welcome Image" height="140" width="140">
            </div>
            <div class="Banner-description">
                <h1>
                    Welcome to My Website!
                </h1>
                <p>
                    My name is Kenneth Chen. I’m a student at the University of Virginia studying computer science. Outside of school, I enjoy doing martial arts, playing and building video games, and exploring the wide Star Wars galaxy.
                </p>
            </div>
        </div>  
    </div>
</div>
  
<div class="PageContent container">
    <div class="row">
        <div class="col-md-4 Home-column">
            <h3>Projects</h3>
            <p>
                If you're interested in seeing the projects I've worked on
            </p>
            <a href="#" class="ImageButton-home btn btn-outline-primary" role="button">
                Click Here
                <img src="assets/images/projectsHome.jpg" alt="Projects Compilation">
            </a>
        </div>
        <div class="col-md-4 Home-column">
            <h3>Resume</h3>
            <p>
                If you're interested in viewing my professional resume
            </p>
            <a href="#" class="ImageButton-home btn btn-outline-primary" role="button">
                Click Here
                <img src="assets/images/resumeHome.jpg" alt="Resume Compilation">
            </a>
        </div>
        <div class="col-md-4 Home-column">
            <h3>Performances</h3>
            <p>
                If you're interested in checking out my performing arts side
            </p>
            <a href="#" class="ImageButton-home btn btn-outline-primary" role="button">
                Click Here
                <img src="assets/images/performanceHome.jpg" alt="Wushu and Cheer">
            </a>
        </div>      
    </div>
</div>